@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(241, 241, 241);
}

.card {
    width: 250px;
    height: 275px;
    background-color: white;
    box-shadow: 5px 5px 10px -10px;
}

p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 12px 24px;
}