@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(241, 241, 241);
}

.card {
    width: 250px;
    height: 275px;
    background-color: white;
    box-shadow: 5px 5px 10px -10px;
    margin: 16px;
}

p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 12px 24px;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    margin: 0 0 0 24px;
    padding: 8px 16px;
}

.delete {
    background-color: rgb(209, 30, 30);
    color: white;
    border: none;
    font-weight: 900;
}

.delete:hover {
    background-color: rgb(206, 63, 63);
}